# key+value pairs in db.env will be set as environment variables in a
# number of containers... so that the database password is a secret it 
# is censored here. copy this file, enter the password name, and remove
# the .example extension

MYSQL_ROOT_PASSWORD=***********
# copying network stacks has some complex behaviour...
# set this so that even in wireguard connected containers
# we can find the database hostname... sadly this will need
# to be updated
HOST_IP=192.168.1.9
